body {
    margin: auto;
    
    width: 100%;
    background-color: #1f2937;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */    
}
@media (max-width: 900px) {
    .div2sec2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }
    .con1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }
    .blucontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    }
    /* .herowrap {
    width: auto;
    } */
}
header {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    
}
a {
    color: white;
    text-decoration: none;
}
.div1 {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    
}
.hero {
font-size: 48px;
}
.div2 {
   width: 100%;
   /* padding: 30px;  */
   background-color: white; 
   justify-content: space-between;

}
.div3 {
    background-color: #e5e7eb;
    width: 100%;
    /* padding: 30px; */
    
}
.div4 {
    background-color: white;
    padding: 30px;
}
.footer {
    padding: 2rem;
    align-items: center;
    color: white;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
/* subtext under images on div2 */
.subwhite {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(100, 100, 100)
}

.div2sec2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.blucontainer {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    padding: 20px;
    border-radius: 10px;
}
.con {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}
.herowrap {
    width: 100%;
    margin: 1%;
}
.con1 {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;

    
}
.mainimg {
    border-radius: 10px;;
}
.memberimg {
    width: 100%;
    border-radius: 10px;
    border: rgb(51, 51, 155) solid;
}
.logo {
    height: 70px;
    width:  70px;
    border-radius: 50%;
}

.button1 {
    color: white;
    font-size: 30px;
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
    background-color: #3882f6;

}

.button2 {
    border: solid 3px;
    border-color: white;
    color: white;
    font-size: 30px;
    padding: 10px 60px 10px 60px;
    border-radius: 10px;
    background-color: #3882f6;
    margin-left: 10px;
    
}
.quote {
    width: 100%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.toRight {
    color:rgb(61, 61, 61);
    font-size: 28px;
    font-weight: bold;
    justify-content: flex-end;
}

.subtext {
    color: #e5e7eb;
}

.centerOneItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}